<h1><%= title %></h1>
<div id="messages">
  <% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
    <% }) %>
  </ul>
  <% } %>
</div>

<form action="/inv/delete" method="post" class="form-account">
  <fieldset>

    <div class="form-account-content">
      <label for="inventoryMake">Make:</label><br />
      <input
        type="text"
        id="inventoryMake"
        readonly
        <% if(locals.inv_make) {%>
        value="<%= locals.inv_make %>" <% } %>
      >
    </div>
    <div class="form-account-content">
      <label for="inventoryModel">Model:</label><br />
      <input
        type="text"
        id="inventoryModel"
        readonly
        <% if(locals.inv_model) {%>
        value="<%= locals.inv_model %>"<% } %>
      />
    </div>

    <div class="form-account-content">
      <label for="inventoryPrice">Price:</label><br />
      <input
        type="text"
        id="inventoryPrice"
        readonly
        <% if(locals.inv_price) {%>
        value="<%= locals.inv_price %>"<% } %>
      >
    </div>

    <div class="form-account-content">
      <label for="inventoryYear">Year:</label><br />
      <input
        type="text"
        name="inv_year"
        id="inventoryYear"
        maxlength="4"
        readonly
        value="<%= locals.inv_year %>"
      >
    </div>
 
    <input type="hidden" name="inv_id"
        <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
        <% } %>>
    <div class="form-account-button">
      <span>Confirm Deletion? The delete vehicle is permanent and cannot be undone!</span><br />
      <button type="submit">Delete Vehicle</button>
      <button type="button" onclick="window.history.back();">Cancel</button>
    </div>
    
  </fieldset>
</form>
